/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/*.js
/public/mix-manifest.json
/storage/*.key
/storage/debugbar/*
/vendor
.env
.env.backup
.env.production
.env.staging
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vapor
modules_statuses.json
rr
.rr.yaml
