/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/*.js
/public/mix-manifest.json
/storage/*.key
/storage/framework/*
/storage/logs/*
/vendor
.env
.env.backup
.env.production
.env.staging
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Modules/Advice/node_modules/
/Modules/Social/node_modules/
/Modules/Social/vendor/
