{
    "Advice": true,
    "Articles": true,
    "Social": true,
    "Projects": true,
    "Resources": true,
    "Jobs": true,
    "Games": true,
    "Reviews": true,
    "Crm": true,
    "Billing": true,
    "Forms": true,
    "Livestream": true,
    "Article": true
}
