@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --base-text-color: #6b7280;
    --light-text-color: #9ca3af;
    --dark-text-color: #272d38;
    --neutral: #F3F4F6;
    --neutral-light: #f6f7f8;
    --neutral-dark: #6b7280;
    --neutral-hover: #eff0f2;
    --primary: white;
    --secondary: #171E2C;
    --tertiary: #384263;
}

p,a, body  {
    @apply text-base;
}

h3 a, h4 a, h5 a, h6 a {
    @apply hover:underline;
}

h1,h2,h3,h4,h5,h6 {
    @apply text-dark-text-color;
    @apply font-bold;
}
h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}
h4 {
    @apply text-base;
}
h5 {
    @apply text-sm;
}

.sub-app-header {
    @apply px-4 py-2
}
.sub-app-sub-header {
    @apply py-2
}

[x-cloak] { display: none !important; }
/*a {*/
/*    @apply text-primary*/
/*}*/

.card {
    @apply pt-1 bg-primary shadow rounded-lg;
}

.fill-row-span > * {
    @apply h-full;
}

.stretched-link::after {
    content: "";
    @apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
}