@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --text-color-base: #374151;
    --text-color-light: #9ca3af;
    --text-color-dark: #272d38;
    --neutral: #F3F4F6;
    --neutral-hover: #D1D5DBFF;
    --neutral-dark: #6b7280;
    --primary: white;
    --secondary: #171E2C;
    --tertiary: #384263;
}

h1 {
    @apply text-2xl font-bold leading-10;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

.sub-app-header {
    @apply px-4 py-2
}
.sub-app-sub-header {
    @apply py-2
}

[x-cloak] { display: none !important; }
/*a {*/
/*    @apply text-primary*/
/*}*/
